<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{>header}}
    <title>Aboutus</title>
</head>

<body>
    {{>navbar}}

    <section class="grow-top">
        <div class="grow">
            <p class="grow-txt"><span>GROW</span> <br />with <br> US</p>
        </div>
        <div class="grow-img">
            <img class="grow-image" src="/images/growing.png" alt="">
        </div>
    </section>

    <section class="aboutus-line">
        <div class="about-head">
            <hr class="about-head-line">
            <p class="about-head-text">About us</p>
        </div>
    </section>

    <section class="aboutus-content">
        <div class="card2">
            <div class="text-center">
                <img src="/images/ravi3.png" class="rounded-circle">
            </div>
            <div class="text-center">
                <span class="post">Founder</span>
                <h5 class="name">Ravi Kumar Chaudhary</h5>
                <h4 class="des">Software Engineer</h4>
                <div class="resume">
                    <p>
                        Hello Engineers, I'm Ravi Kumar Chaudhary and the founder of codecrust.
                        Currenlty, I am software development Engineer in SYSCLOUD.
                        I created this platform to learn languages and Data Structure
                        algorithm free of cost. We develpoed the plaform in simple way you can
                        easily go through the content. In this we added some most important things
                        for coders. With the help of this platform you can learn easily and also you can
                        create your daily schedule to rewise the concepts because revision of the coding concepts
                        is very useful for coders. Our motive to the students is<br>
                        "KEEP LEARNING AND KEEP GROWING" <br>
                        YOUR WELCOME IN CODERCUST
                    </p>
                </div>
                <div class="social-list">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="buttons">
                    <button class="btn-contact">Message</button>
                    <button class="btn-contact">Contact</button>
                </div>
            </div>
        </div>


        <div class="card2">
            <div class="text-center">
                <img src="/images/ravi3.png" class="rounded-circle">
            </div>
            <div class="text-center">
                <span class="post">Co-Founder</span>
                <h5 class="name">Nitish Kumar Yadav</h5>
                <h4 class="des">Software Engineer</h4>
                <div class="resume">
                    <p>
                        Hello Engineers, I'm Ravi Kumar Chaudhary and the founder of codecrust.
                        Currenlty, I am software development Engineer in SYSCLOUD.
                        I created this platform to learn languages and Data Structure
                        algorithm free of cost. We develpoed the plaform in simple way you can
                        easily go through the content. In this we added some most important things
                        for coders. With the help of this platform you can learn easily and also you can
                        create your daily schedule to rewise the concepts because revision of the coding concepts
                        is very useful for coders. Our motive to the students is<br>
                        "KEEP LEARNING AND KEEP GROWING" <br>
                        YOUR WELCOME IN CODERCUST
                    </p>
                </div>
                <div class="social-list">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="buttons">
                    <button class="btn-contact">Message</button>
                    <button class="btn-contact">Contact</button>
                </div>
            </div>
        </div>
    </section>

    <section class="pot-team">

    </section>
    {{>footer}}
    <script src="../javaScript/script.js"></script>
</body>

</html>