<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
  {{>header}}
  <title>Contact us</title>
</head>

<body class="bgimage">

  <section class="navbar">
    <header>
      <a class="active" href="/index"><img class="logo" alt="logo" src="images/FinalLogo.jpg"></a>
      <nav>
        <ul class="nav__links">
          <li><a class="active" a href="/index">Home</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="#">PracticeQuestions</a></li>
          <li><a href="#">Diamond</a></li>
          <li><a href="/signup"><span><i class="fa fa-user-plus"></i></span> SignUp</a></li>
          <li><a href="/signin"><span><i class="fa fa-user-plus"></i></span> SignIn</a></li>

        </ul>
      </nav>
      <a onclick="openNav()" class="menu" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          fill="black" width="40px" height="40px">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M5 15h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1s.45 1 1 1zm0 4h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1s.45 1 1 1zm0-8h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1s.45 1 1 1zM4 6c0 .55.45 1 1 1h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1z" />
        </svg></a>
    </header>
    <div id="mobile__menu" class="overlay">
      <a class="close" onclick="closeNav()">&times;</a>
      <div class="overlay__content">
        <li><a class="active" a href="/index">Home</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">PracticeQuestions</a></li>
        <li><a href="#">Diamond</a></li>
        <li><a href="/signup"><span><i class="fa fa-user-plus"></i></span> SignUp</a></li>
        <li><a href="/signin"><span><i class="fa fa-user-plus"></i></span> SignIn</a></li>

      </div>
    </div>
  </section>




  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Sri Balaji Residency, 4th floor 408</div>
          <div class="text-two">Hyderabad</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+91 639459572</div>
          <div class="text-two">+91 9521385658</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">yadavnitish0527@gmail.com</div>
          <div class="text-two">ravikumar180599@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any work from us or any types of quries related to our tutorial, you can send us message from
          here. It's my pleasure to help you.</p>
        <form action="#">
          <div class="input-box">
            <input type="text" placeholder="Enter your name">
          </div>
          <div class="input-box">
            <input type="text" placeholder="Enter your email">
          </div>
          <div class="input-box message-box">
            <textarea placeholder="Enter your message"></textarea>
          </div>
          <input type="submit" id="submit" class="btn-contact" value="Send Now">
        </form>
      </div>
    </div>
  </div>
  {{>footer}}
  <script src="../javaScript/script.js"></script>
</body>

</html>