<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>CoderCrust</title>
</head>

<body>
    {{>navbar}}

    <section class="search">
        <div class="search-container">
            <a href="#"><i class="fa fa-search"></i></a>
            <input type="search" placeholder="Search" name="search" autocomplete="off">
        </div>
    </section>


    <section class="intro">
        <div class="main-part">
            <p id="p1">Let's Learn Togather</p>
            <h1>When to use iterative <span class="underline">development</span>? You should use iterative development
                only on projects that you want to succeed. </h1>
            <h2>The Team CoderCrust</h2>
            <img class="heroimage" src="/images/Group-3.png" alt="herosection">
            <p id="p2">Will help you to become a professional coder.
                We are the Team of <span class="bold-style">Professional CODER</span></p>
            <button>Let's Start</button><button>Read More</button>
        </div>
    </section>


    <section class="tutorial">
        <div class="second-part">
            <h2>Tutorials</h2>
            <p id="tut-intro-1">Lear coding in easiest way</p>
            <p id="tut-intro-2">Our services include Company Formation & Renewals, Trust & Fiduciary, Tax Residency
                Setup With Family, Bank Accounts, Remote Management, Stock Trading Platforms, Ownership Solutions</p>
        </div>
    </section>

    <section class="mid-tut">
        <div class="zone">
            <img class="mid-tut-img" src="/images/Vector (1).png" alt="mid-tut-img">
            <h2>UAE Free Zone Compan</h2>
            <p>Your registration agent, will answer all of your questions and help you to reach a
                conclusion that meets your objectives
                of investing in the UAE</p>
            <a href="#">Get Started</a>
        </div>
        <div class="zone">
            <img class="mid-tut-img" src="/images/Vector (2).png" alt="mid-tut-img">
            <h2>UAE Free Zone Compan</h2>
            <p>Your registration agent, will answer all of your questions and help you to reach a
                conclusion that meets your objectives
                of investing in the UAE</p>
            <a href="#">Get Started</a>
        </div>
        <div class="zone">
            <img class="mid-tut-img" src="/images/Vector (3).png" alt="mid-tut-img">
            <h2>UAE Free Zone Compan</h2>
            <p>Your registration agent, will answer all of your questions and help you to reach a
                conclusion that meets your objectives
                of investing in the UAE</p>
            <a href="#">Get Started</a>
        </div>
    </section>


    <section class="buttom-part" id="buttom-part">
        <div class="services">
            <div class="sub-service-1">
                <p> Learn the ways in which you can benefit from a UAE/Offshore Company. Then get started on fulfilling
                    your UAE dream.</p>
                <a href="#">Claim a free quotes</a>
            </div>
            <div class="card">
                <img class="sub-services-img" src="/images/G4.png" alt="sub-Service">
                <h2>Bank Account Setup</h2>
                <p> There are many banks in the United Arab Emirates [UAE]. Both locally owned and branches of
                    multinational ones. Foreign banks adjust according to their parent s
                    strategies and have changed local requirements overnight in the past. But we are here to help you
                </p>
                <a href="/test">Learn More<img class="arrow" src="/images/G5.png" alt="Learn More"></a>
            </div>
            <div class="card">
                <img class="sub-services-img" src="/images/G3.png" alt="sub-Service">
                <h2>Bank Account Setup</h2>
                <p> There are many banks in the United Arab Emirates [UAE]. Both locally owned and branches of
                    multinational ones. Foreign banks adjust according to their parent s
                    strategies and have changed local requirements overnight in the past. But we are here to help you
                </p>
                <a href="#">Learn More<img class="arrow" src="/images/G5.png" alt="Learn More"></a>
            </div>
        </div>

        <div class="services">
            <div class="sub-service"></div>
            <div class="card">
                <img class="sub-services-img" src="/images/G2.png" alt="sub-Service">
                <h2>Bank Account Setup</h2>
                <p> There are many banks in the United Arab Emirates [UAE]. Both locally owned and branches of
                    multinational ones. Foreign banks adjust according to their parent s
                    strategies and have changed local requirements overnight in the past. But we are here to help you
                </p>
                <a href="#">Learn More<img class="arrow" src="/images/G5.png" alt="Learn More"></a>
            </div>
            <div class="card">
                <img class="sub-services-img" src="/images/G1.png" alt="sub-Service">
                <h2>Bank Account Setup</h2>
                <p> There are many banks in the United Arab Emirates [UAE]. Both locally owned and branches of
                    multinational ones. Foreign banks adjust according to their parent s
                    strategies and have changed local requirements overnight in the past. But we are here to help you
                </p>
                <a href="#">Learn More<img class="arrow" src="/images/G5.png" alt="Learn More"></a>
            </div>
            <div class="sub-service-1">
                <p> Learn the ways in which you can benefit from a UAE/Offshore Company. Then get started on fulfilling
                    your UAE dream.</p>
                <a href="#">More about our service<img class="arrow" src="/images/G5.png" alt="Learn More"></a>
            </div>
        </div>
    </section>

    {{>footer}}
    <script src="../javaScript/script.js"></script>
</body>

</html>