@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

/* NAVBAR CSS START */
li,
a{
    font-weight: 600;
    font-size: 16px;
    color: #24252a;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    /* background-color: aliceblue; */
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 40px;
    width: 200px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 8px 20px;
    list-style: none;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover,
.nav__links li a:active {
    background-color: rgb(0, 61, 147);
    padding: 8px 17px;
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
}

.nav__links .active {
    background-color: rgb(0, 61, 147);
    padding: 8px 17px;
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
}



.menu {
    display: none;
}

button {
    margin-left: 20px;
    margin-top: 30px;
    padding: 16px 32px;
    color: aliceblue;
    background-color: rgb(0, 61, 147);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: 0px;
    font-size: 22px;
}

button:hover {
    background-color: rgb(50, 132, 248);
    color: rgb(0, 61, 147);
}

@media only screen and (max-width:800px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: inherit;
    }
}

/*Mobile view*/
.overlay__content .active {
    background-color: rgb(0, 61, 147);
    padding: 8px 17px;
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: all 0.5s ease-in;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay li {
    list-style: none;
}

.overlay a {
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease-in;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;

    }
}

/* NavBar CSS END */

/* SEARCH BAR CSS START */
.search {
    margin: 25px;
    margin-right: 100px;
    
}

.search ::placeholder{
    font-size: 17px;
}

.search-container {
    float: right;
    display: flex;
    width: 300px;
    border: 3px rgb(0, 61, 147);
    padding: 10px;
    border-radius: 7px;
}

.search-container {
    border: 3px solid rgb(0, 61, 147);
}

input {
    background: transparent;
    border: 0;
    outline: 0;
    width: 300px;
    padding-left: 5px;
}

.fa .fa-search {
    padding-right: 10px;
    border: blue;
}

.icon-search {
    color: blue;
    padding-right: 20px;
    font-size: 20px;
}

@media only screen and (max-width:800px) {
    .search-container {
        width: 100%;
    }
}

/* SEARCH BAR CSS END */


/* Main Page CSS START */
.intro {
    padding: 20px 5%;
    margin-top: 70px;
}

.main-part {
    line-height: 2;
}

.heroimage {
    position: absolute;
    right: 0;
    top: 25%;
    width: 40%;
    float: right;
}

.intro p {
    font-size: 22px;
    width: 50%;
}

.intro h1 {
    font-size: 45px;
    width: 50%;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
}

.underline{
    text-decoration-line: underline; 
    text-underline-offset: 11px;
    text-decoration-color: orange;
    font-weight: normal;
}

.intro h2 {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    color: rgb(9, 90, 203);
    letter-spacing: 2px;
}

#p1 {
    color: rgb(9, 90, 203);
    letter-spacing: 2px;
    font-weight: 500;
}

.intro #p2 {
    color: #a3a3a3;
    line-height: 1;
}

@media (max-width: 800px) {
    .intro p {
        width: 100%;
    }

    .intro h1 {
        width: 100%;
    }

    .heroimage {
        position: relative;
        float: none; 
        width: 100%;
    }
}

/* Main Page CSS END */


/* tutorial page CSS Start */

.tutorial{
    margin-top: 100px;
}

.tutorial h2{
    text-align: center;
    padding-bottom: 5px;
    font-size: 30PX;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration-line: underline; 
    text-underline-offset: 9px;
    text-decoration-color: orange;
    text-decoration-thickness: 5px;

}

.tutorial #tut-intro-1{
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    font-weight: 400;  
}

.tutorial #tut-intro-2{
    padding-top: 25px;
    color: #a3a3a3;
    font-size: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

@media (max-width: 800px) {
    .tutorial #tut-intro-2{
        width: 65%;
    }
}

/* tutorial page CSS End */


/* Mid Tut CSS START */
.mid-tut{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7%;

}

.zone{
    width: 28%;
}

.zone img, h2, a{
    line-height: 2;
}

.zone h2{
    font-weight: 400;
}

.zone p{
    line-height: 1.5;
    font-weight: 350;
    color: #a3a3a3;
}

.zone a{
    color: orange;
    line-height: 2;
    font-weight: 300;
    font-size: 20px;
}

.zone a:hover{
    color: rgb(0, 61, 147);
    font-weight: 500;
}

@media (max-width:800px){
    .mid-tut{
        flex-direction: column;
    }
    .zone{
        width: 100%;
        padding-bottom: 5%;
        text-align: center;
    }
}

/* Mid Tit CSS End */

/* Services CSS Start */
.buttom-part{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:20px 6%;
    text-align: left;
}

.services{
    width: 35%;
}

.sub-service-1{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-top: 12%;
    padding-bottom: 12%;

}

.sub-service-1 a{
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 300;
    color: rgb(9, 91, 207);
}

.sub-services-img{
    height: 200px;
    width: 250px;
    padding-left: 15%;
    padding-bottom: 10%;
}


.card{
    display: flex;
    justify-content: center;
    padding: 12%;
    border:1px solid #a3a3a3;
    border-radius: 10px;
    border-width: 2px;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.card p{
    line-height: 1.5;
    font-weight: 350;
    color: #a3a3a3;
}

.card a{
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 25px;
    color: rgb(9, 91, 207);
}

.arrow{
    margin-left: 10px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;

}

@media (max-width:800px){
    .buttom-part{
        flex-direction: column;
    }
    .services{
        width: 100%;
    }
    .sub-service-1{
        text-align: center;
    }

}
/* Services CSS END */


/* Footer CSS Start */
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.frow{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
}
.footer{
    background-color: rgb(245, 249, 253);
    padding: 30px 0;
    margin-top: 3rem;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 20px;
	color: rgb(9, 91, 207);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    letter-spacing: 1px;
    text-decoration-line: underline; 
    text-underline-offset: 10px;
    text-decoration-color: orange;
    text-decoration-thickness: 2.5px;
    
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 400;
	color: #323338;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: rgb(9, 91, 207);
	padding-left: 6px;
    font-size: 17px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 50px;
	width: 50px;
	margin:10px 10px 10px 0;
	text-align:center;
	line-height: 40px;
    color: #323338;
	border-radius: 50%;
    font-size: 2rem;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: rgb(9, 91, 207);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* Foooter CSS END */