@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

/* NAVBAR CSS START */
li,
a {
    font-weight: 600;
    font-size: 16px;
    color: #24252a;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    /* background-color: aliceblue; */
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 40px;
    width: 200px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 8px 20px;
    list-style: none;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover,
.nav__links li a:active {
    background-color: rgb(0, 61, 147);
    padding: 8px 17px;
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
}

.nav__links .active {
    background-color: rgb(0, 61, 147);
    padding: 8px 17px;
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
}



.menu {
    display: none;
}

button {
    margin-left: 20px;
    margin-top: 30px;
    padding: 16px 32px;
    color: aliceblue;
    background-color: rgb(0, 61, 147);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: 0px;
    font-size: 22px;
}

button:hover {
    background-color: rgb(50, 132, 248);
    color: rgb(0, 61, 147);
}

@media only screen and (max-width:800px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: inherit;
    }
}

/*Mobile view*/
.overlay__content .active {
    background-color: rgb(0, 61, 147);
    padding: 8px 17px;
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: all 0.5s ease-in;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay li {
    list-style: none;
}

.overlay a {
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease-in;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;

    }
}

/* NavBar CSS END */

/* SEARCH BAR CSS START */
.search {
    margin: 25px;
    margin-right: 100px;

}

.search ::placeholder {
    font-size: 17px;
}

.search-container {
    float: right;
    display: flex;
    width: 300px;
    border: 3px rgb(0, 61, 147);
    padding: 10px;
    border-radius: 7px;
}

.search-container {
    border: 3px solid rgb(0, 61, 147);
}

input {
    background: transparent;
    border: 0;
    outline: 0;
    width: 300px;
    padding-left: 5px;
}

.fa .fa-search {
    padding-right: 10px;
    border: blue;
}

.icon-search {
    color: blue;
    padding-right: 20px;
    font-size: 20px;
}

@media only screen and (max-width:800px) {
    .search-container {
        width: 100%;
    }
}

/* SEARCH BAR CSS END */


/* Main Page CSS START */
.intro {
    padding: 20px 5%;
    margin-top: 70px;
}

.main-part {
    line-height: 2;
}

.heroimage {
    position: absolute;
    right: 0;
    top: 25%;
    width: 40%;
    float: right;
}

.intro p {
    font-size: 22px;
    width: 50%;
}

.intro h1 {
    font-size: 45px;
    width: 50%;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
}

.underline {
    text-decoration-line: underline;
    text-underline-offset: 9px;
    text-decoration-color: orange;
    font-weight: normal;
}

.intro h2 {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    color: rgb(9, 90, 203);
    letter-spacing: 2px;
}

#p1 {
    color: rgb(9, 90, 203);
    letter-spacing: 2px;
    font-weight: 500;
}

.intro #p2 {
    color: #a3a3a3;
    line-height: 1;
}

@media (max-width: 800px) {
    .intro p {
        width: 100%;
    }

    .intro h1 {
        width: 100%;
    }

    .heroimage {
        position: relative;
        float: none;
        width: 100%;
    }
}

/* Main Page CSS END */


/* tutorial page CSS Start */

.tutorial {
    margin-top: 100px;
}

.tutorial h2 {
    text-align: center;
    padding-bottom: 5px;
    font-size: 30PX;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-underline-offset: 9px;
    text-decoration-color: orange;
    text-decoration-thickness: 5px;

}

.tutorial #tut-intro-1 {
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    font-weight: 400;
}

.tutorial #tut-intro-2 {
    padding-top: 25px;
    color: #a3a3a3;
    font-size: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

@media (max-width: 800px) {
    .tutorial #tut-intro-2 {
        width: 65%;
    }
}

/* tutorial page CSS End */


/* Mid Tut CSS START */
.mid-tut {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7%;

}

.zone {
    width: 28%;
}

.zone img,
h2,
a {
    line-height: 2;
}

.zone h2 {
    font-weight: 400;
}

.zone p {
    line-height: 1.5;
    font-weight: 350;
    color: #a3a3a3;
}

.zone a {
    color: orange;
    line-height: 2;
    font-weight: 300;
    font-size: 20px;
}

.zone a:hover {
    color: rgb(0, 61, 147);
    font-weight: 500;
}

@media (max-width:800px) {
    .mid-tut {
        flex-direction: column;
    }

    .zone {
        width: 100%;
        padding-bottom: 5%;
        text-align: center;
    }
}

/* Mid Tit CSS End */

/* Services CSS Start */
.buttom-part {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 6%;
    text-align: left;
}

.services {
    width: 35%;
}

.sub-service-1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding-top: 12%;
    padding-bottom: 12%;

}

.sub-service-1 a {
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 300;
    color: rgb(9, 91, 207);
}

.sub-services-img {
    height: 200px;
    width: 250px;
    padding-left: 15%;
    padding-bottom: 10%;
}


.card {
    display: flex;
    justify-content: center;
    padding: 12%;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    border-width: 2px;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.card p {
    line-height: 1.5;
    font-weight: 350;
    color: #a3a3a3;
}

.card a {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 25px;
    color: rgb(9, 91, 207);
}

.arrow {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;

}

@media (max-width:800px) {
    .buttom-part {
        flex-direction: column;
    }

    .services {
        width: 100%;
    }

    .sub-service-1 {
        text-align: center;
    }

}

/* Services CSS END */


/* Footer CSS Start */
.footer-container {
    max-width: 1170px;
    margin: auto;
}

.frow {
    display: flex;
    flex-wrap: wrap;
}

.footer-col ul {
    list-style: none;
}

.footer {
    background-color: rgb(245, 249, 253);
    padding: 30px 0;
    margin-top: 3rem;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 20px;
    color: rgb(9, 91, 207);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    letter-spacing: 1px;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-color: orange;
    text-decoration-thickness: 2.5px;

}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
    color: #323338;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: rgb(9, 91, 207);
    padding-left: 6px;
    font-size: 17px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #323338;
    border-radius: 50%;
    font-size: 2rem;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: rgb(9, 91, 207);
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* Foooter CSS END */

/* SignIn CSS Start */
.signin-panel {
    margin-top: 5.5%;
    margin-left: 18%;
    margin-bottom: 3%;
    padding: 1.5%;
    position: relative;
    height: fit-content;
    width: 1000px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 4px 10px #a7a9b4;
    display: flex;
}

.login-content {
    display: flex;
    justify-content: center;
    text-align: center;
    height: fit-content;
    width: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 9px #a7a9b4;
    padding: 5%;
}

.login-content .avatar {
    width: 20%;
    margin-bottom: 17px;
}

.login-content h3 {
    font-size: 25px;
    color: rgb(9, 91, 207);
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 25px;
    font-weight: 400;
    position: relative;
}

.login-content .input-field {
    position: relative;
    grid-template-columns: 7% 93%;
    line-height: 3;
    width: 90%;
    height: 13%;
    vertical-align: bottom;
    margin-bottom: 15px;
    border: 2px solid orange;
    border-radius: 10px;
}


.input-field i {
    line-height: 50px;
    color: rgb(9, 91, 207);
    font-size: 1.1rem;
    margin-left: 10px;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    padding-left: 25px;
    line-height: 1;
    font-size: 1.1rem;

}

.input-field ::placeholder {
    font-weight: 300;
}


.btn-style {
    margin-top: 20px;
    width: 55%;
    padding: 12px;
    color: aliceblue;
    background-color: rgb(0, 61, 147);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.btn-style:hover {
    background-color: rgb(50, 132, 248);
    color: rgb(0, 61, 147);
}

.option {
    margin-top: 5px;
}

.option a {
    text-decoration: none !important;
    font-weight: 500;
    color: rgb(9, 91, 207);
}

.option a:hover {
    text-decoration: none !important;
    font-weight: 650;
    color: rgb(50, 132, 248);
}

.loginimage {
    position: absolute;
    right: 0;
    top: 25%;
    width: 45%;
    padding-left: 10px;
    float: right;


}

@media (max-width:800px) {
    .login-content {
        width: 100%;
        height: auto;
    }

    .signin-panel {
        margin-left: 60px;
        flex-direction: column;
        height: auto;
        width: 80%;
    }

    .loginimage {
        display: none;
    }

}

/* SignIn CSS End */

/* Contact Us Css Start */
.container {
    width: 75%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 6% 10% 6% 12%;

}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 25px;
    color: rgb(9, 91, 207);
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 16px;
    font-weight: 300;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 13px;
    color: #8b8b8e;
    font-weight: normal;
}

.right-side p {
    font-weight: 300;
    padding-top: 10px;
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}


.content .right-side .topic-text {
    font-size: 22px;
    font-weight: 500;
    color: rgb(9, 91, 207);
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.input-box ::placeholder {
    font-weight: 300;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.btn-contact {
    margin-top: 20px;
    width: 30%;
    padding: 12px;
    color: aliceblue;
    background-color: rgb(0, 61, 147);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.btn-contact:hover {
    background-color: rgb(50, 132, 248);
    color: rgb(0, 61, 147);
}

@media (max-width: 800px) {
    .container {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .container .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 800px) {
    .container {
        margin-left: 30px;
        height: 100%;
    }

    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    .container .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

/* Contact us Css End */

/* About Us CSS START */


.grow-top {
    padding-top: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grow-txt {
    margin-top: 40%;
    flex: 0.5;
    text-align: center;
    font-size: 3.5rem;
    font-family: "montserrat", sans-serif;
    font-weight: lighter;
    line-height: 1;
}

.grow-txt>span {
    font-family: "montserrat", sans-serif;
    color: rgb(9, 90, 203);
    font-size: 4rem;
}

.grow-image {
    margin-top: 8%;
    flex: 0.5;
    width: 300px;
    height: 300px;
}

@media (max-width: 800px) {
    .grow-top {
        flex-direction: column;
    }

    .grow-image {
        margin-left: 8%;
        width: auto;
    }

    .grow-txt {
        margin-top: 10%;
    }
}

.aboutus-line{
    padding-inline: 10%;
}

.about-head-line {
    color: rgb(9, 91, 207);
    width: 80%;
    margin: 5%;
    border: 2px solid;
}

.about-head-text {
    font-size: 3rem;
    color: rgb(9, 91, 207);
    font-family: "montserrat", sans-serif;
    margin-top: -53px;
    float: right;
    font-weight: normal;
}


@media(max-width:800px) {
    .aboutus-line {
        width: 75%;
    }

    .about-head-line {
        display: none;
    }

    .about-head-text {
        font-size: 2rem;
        margin-top: 10%;
        margin-bottom: 5%;
    }
}



.aboutus-content {
    text-align: center;
    margin: 5%;
    padding-inline: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card2 {
    padding: 2% 3% 3% 3%;
    box-shadow: 2px 3px 8px #a7a9b4;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    width: 47%;
}

.text-center img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin: 2%;
}

.text-center .post {
    background-color: rgb(77, 82, 87);
    padding: 7px 18px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

.card2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: rgb(141, 182, 241);
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card2:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: rgb(35, 120, 238);
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.card2:hover::after {
    transform: scaleY(1);
}

.resume p {
    font-weight: 300;
    margin-top: 4%;
    font-size: 15px;
    color: #a3a3a3;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
    text-align: justify;
}
#resumecenter{
    text-align: center;
}

.text-center .name {
    margin-top: 3%;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.text-center .des {
    margin-top: 2%;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    line-height: 1;

}

.social-list a {
    padding: 10px;
    color: rgb(9, 91, 207);
    font-size: 19px;
}

.social-list a:hover {
    color: rgb(77, 82, 87);
}

@media(max-width:800px) {
    .aboutus-content {
        flex-direction: column;
        width: 95%;
    }

    .card2 {
        width: 100%;
        margin-bottom: 7%;
    }
}

.about-team {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50x;
}

.about-team>p {
    font-weight: 300;
    writing-mode: sideways-lr;
    font-size: 1.5rem;
    flex: 0.2;
}

.about-team>p>span {
    color: rgb(9, 91, 207);
    font-size: 2.5em;
}

.team-members {
    margin-left: 20px;
    flex: 0.8;
}

.team-card-info {
    background-color: rgb(9, 91, 207);
}

.about-content-right {
    flex: 0.4;
    font-size: 1.7rem;
    border-left: 3px solid rgb(9, 91, 207);
    font-weight: 300;
    padding-left: 10px;
}

.about-content-left {
    flex: 0.6;
}

.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    background-color: rgb(158, 192, 243);
    padding-right: 25px;
    padding-block: 3.5%;
    margin-right: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.card-info h4 {
    letter-spacing: 1px;
    line-height: 2;
    font-size: 25px;
    font-weight: 300;
}

.card-info h6 {
    line-height: 1;
    font-size: 18px;
    font-weight: 300;
}

.card-info p{
    margin-top: 7px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.3;
}

.profile-image {
    height: 170px;
    width: 170px;
    border-radius: 110px;
    margin-left: -55px;
    margin-right: 15px;
}

@media(max-width:800px){
    .about-team{
        flex-direction: column;
        text-align: center;
    } 
    .profile-card{
        flex-direction: column;
        padding: 5%;
    }
    .profile-image {
        height: 100px;
        width: 100px;
        margin-left: 0;
        border-radius: 110px;
    }

}
/* About US CSS END */